@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Fraunces:wght@200;700&family=Inter:wght@400;700&family=Lexend+Deca:wght@400&family=Montserrat:wght@200&family=Outfit:wght@300;400;600&family=Poppins:wght@200&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: hsl(233, 47%, 7%);
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.container{
    width:80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    background-color: beige;
    margin:auto;
    background-color:hsl(233, 47%, 7%) ;
}
.content{
    width:50%;
    height:400px;
    display: grid;
    background-color: hsl(244, 38%, 16%);
    padding:30px  40px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.picture{
    background:url(images/image-header-desktop.jpg);
   width:50%;
    height:400px;
   
    display: grid;
    background-size:cover;
    background-repeat: no-repeat;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
background-color: hsl(277, 64%, 61%);
background-blend-mode: multiply;
opacity: 0.8;
}
 h1{
    color:hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    font-weight:bold;
    margin: 0;
}
span{
    color:hsl(277, 64%, 61%);
}
.text{
    padding-top:30px;
    color:hsl(0, 0%, 100%);;
    font-family:"Lexend Deca", sans-serif;
    
}
p{
    letter-spacing: 1.5px;
    line-height: 1.8rem;
}
.last{
    /* background-color: aqua; */
    padding:20px 20px 0px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    
}
.one,.two,.three{
    width:20%;
   height:70px;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
}
.last big{
    font-weight: bold;
}

/* .picture img{
    width:100%;
     height:430px;
     border-bottom-right-radius: 10px;
     border-top-right-radius: 10px;
     background-color: hsla(293, 81%, 43%, 0.747);
} */
@media only screen and (max-width: 940px) {
    .container{
        display: inline-flex;
        flex-direction: column-reverse;
       width: 80vw;
        height: 50em;
        text-align: center;
    }
    .content{
        width:100%;
        height:550px;   
        padding-bottom:0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0px;
        border-top-left-radius:0px ;
    }
    .picture{
        background: url(images/image-header-mobile.jpg);
        width:100%;
        height:80%;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: hsl(277, 64%, 61%);
background-blend-mode: multiply;
opacity: 0.8;
    }
    .last{
        display:flex;
        flex-direction: column;
        
        place-items: center;
       
    }
    .text{
        padding-top:10px;
    }
    .one,.two,.three{
        width:20%;
       min-height:50px;
        text-transform: uppercase;
        font-family: "Inter", sans-serif;
       
    }
    p{
        letter-spacing: 1px;
       
    }
}
@media only screen and (max-width: 600px){
    .container{
        display: inline-flex;
        flex-direction: column-reverse;
       width: 80vw;
        height: 50em;
        text-align: center;
    }
    .content{
        width:100%;
        height:650px;
        
        padding-bottom:0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0px;
        border-top-left-radius:0px ;
    }
    .picture{
        background: url(images/image-header-desktop.jpg);
       width:100%;
        
        background-size: cover;
        background-repeat: no-repeat;
        min-height:20em;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color:  hsl(277, 64%, 61%);
background-blend-mode: multiply;
opacity: 0.8;
    }
    h1{
        color:hsl(0, 0%, 100%);
        font-family: "Inter", sans-serif;
        font-weight:500;
        margin: 0;
    }
    p{
        letter-spacing: 0px;
        line-height: 1.5rem;
    }
    .last{
        padding-right:20px;
        display: flex;
    align-items: center;
    justify-content: space-between;
    }
}